@charset "utf-8";

html {
    height:100%;
    width:100%;
}

h2 {
    line-height: 1em;
    font-size: 160%;
    font-weight: bold;
}

h3 {
    font-size: 120%;
    font-weight:bold;
}

body{
    height:100%;
    width:100%;
    font-family: serif;
    overflow: hidden;
 }

form[name=login_form] {
    margin-top: 10px;
}

input[type=submit] {
    border:1px solid #969696;
    margin:2px;
    border-radius: 3px;
 }

input[name=blog_title] {
    margin-bottom: 5px;
    width:40%;
    min-width: 250px;
}

form[id=submit_post] #blog_text {
   background-color: red;
}

form[id=submit_post] input[type=submit] {
    background-color: #FA9D87;
}

form[id=submit_post] input[type=button] {
    border:1px solid #969696;
    margin:2px;
    border-radius: 3px;
}

header {
    width:100%;
    height:10%;
    min-height: 75px;
    border-bottom: 1px solid;
}

header h1 {
    font-size: 4em;
    position:absolute;
    left:15px;
    top:15px;
}

header form {
    display:inline-block;
    position:absolute;
    right:10px;
    top:10px;
}

header form ul li {
    text-align: right;
}
#main {
    width:80%;
    height:75%;
    min-height: 550px;
    padding:2.5% 10% 2.5% 10%;
    overflow-y: auto;
}

#main #title {
    margin-bottom: 13px;
}

form #conf_save {
    width: 70px;
}

footer {
    height:5%;
    min-height: 30px;
    border-top: 1px solid;
    padding:2% 10% 2% 10%;
}


footer ul li {
    font-size: .9em;
    display: inline;
}